In [1]:
import paqprueba

In [2]:
from paqprueba import utils

In [3]:
csv = "https://github.com/opengeos/datasets/releases/download/us/us_states.csv"
df = utils.csv_to_df(csv)

df.head()

   id        name
0  AL     Alabama
1  AK      Alaska
2  AZ     Arizona
3  AR    Arkansas
4  CA  California